header {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu li {
    display: inline-block;
    padding: 0 5px;
}

a {
    color: #000;
    font-weight: bold;
}

a:hover {
    color: #762637;
}

.menu-responsive {
    display: none;
    font-size: 25px;
}

footer {
    text-align: center;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
}

.posts {
    margin-bottom: 50px;
}

.post {
    width: 300px;
    max-width: 100%;
    border: 1px solid #cecece;
    border-radius: 4px;
    padding: 10px;
    margin: auto;
    margin-bottom: 25px;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 760px) {
}

@media screen and (max-width: 400px) {
}