header ul {
  margin: 50px 0;
}

header ul li {
  display: inline-block;
  padding: 0 10px;
}

main {
  width: 1000px;
}

img {
  max-width: 100%;
}

.etiqueta {
  background: rgb(244, 161, 5);
  padding: 2px 15px;
}

footer {
  margin-top: 50px;
}

@media screen and (max-width: 1000px) {
  main {
    width: 100%;
  }
}